body {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    background-color: #475841;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 24px;
}

.bin {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    width: 1400px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#quiz-bin {
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 20px;
    
}

#question-bin {
    margin-bottom: 30px;
    font-size: 24px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#choices button {
    display: block;
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    background-color: #738877;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#choices button:hover {
    background-color: #B7C4BE;
}

#next-button {
     
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
      
    padding: 15px;
    background-color: #9FB8AD;
    color: Black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    
}

#next-button:disabled {
    background-color:#9FB8AD;
    cursor: not-allowed;
}

#score-bin {
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: none;
}

#message-bin {
    margin-top: 30px;
    font-size: 24px;
       
}

#rules-bin {
    border: 2px solid #000; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px;
    margin-right: 20px; 
} 

.result-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
}

.result-box.hidden {
    display: none;
}

.result-box button {
    margin-top: 30px;
    padding: 15px;
    background-color: #738877;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.result-box button:hover {
    background-color: #738877;
}

.hidden {
    display: none;
}

.restart-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #738877;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
}

.restart-button:hover {
    background-color: #738877;
}


